<div class="card">
    {{!-- <p> YOUR COMPLETED PROFILE</p> --}}
    <img id="profileimg" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile_portrait_of_man_with_mustache_and_goatee.jpg"
        alt="Avatar">

    {{!-- <h2>Welcome <span class="member-name"></span></h2> --}}

    <div style="color:rgb(56, 0, 130); padding-left:22%;">
        <h1 style="color:rgb(56, 0, 130);"> Hello {{firstName}}</h1>
        <p> Contact Information: </p>
        <br>
        <p> Phone: {{phone}}</p>
        <p> Address: {{address_1}}, {{address_2}}, {{city}}</p>
        <p>{{state}} {{zip}}</p>
        <hr>
        <fieldset>
            <h1 style="color:rgb(56, 0, 130);">
                <legend>Make your appointment now!</legend>
            </h1>

            <div>
                <label for="appointment-time">Date/time:</label>
                <input type="datetime-local" id="appointment-time" name="appointment-time" value="2018-06-12T19:30" min="2018-09-07T00:00"
                    max="2018-11-18T00:00" required />
            </div>
            <div style="width:50%">
                <label for="SSP">Select Service Provider:</label>
                <select class="custom-select" id="SSP"> </select>
            </div>

            <br>
            <button type="submit" id="makeAppointmentBtn" class="btn">Reserve</button>
        </fieldset>
        <br><br><br><br>
    </div>


</div>

<div class="footer">
    {{!-- <a href="#ex1" rel="modal:open"><button class="btn" id="viewServiceBtn"> Services</button></a>; --}}
    <a href="#ex1" rel="modal:open"><button class="btn" id="viewStylistBtn">Stylists</button></a>;
    {{!-- <a> <button class="btn" id="customerLogoutBtn" href="/index">Log-out</button></a>; --}}
    <a href="/logout"><button class="btn" id="customerLogoutBtn">Log-out</button></a>
</div>



<div id="ex1" class="modal modal-style">
    <div id="allStylists">
        <div id="SSP2">
            <h1> Our Stylists</h1>
        </div>


    </div>
</div>



{{!--
<script type="text/javascript" src="js/members.js"></script> --}}
<script type="text/javascript">
    $(document).ready(function () {
        $.get('/api/serviceproviders', function (data) {
            console.log('this is dudes we got back!!!', data);
            for (var i = 0; i < data.length; i++) {
                $('#SSP').append($('<option/>').text(data[i].firstName));
                $('#SSP2').append($('<h3/>').val('').text(data[i].firstName));
                $('#SSP2').append($('<p style="color:white;">').val('').text(data[i].title));
                $('#SSP2').append('<li style ="list-style: none;"><img class = "img_fd" src="' + data[i].url + '" /></li>');
                $('#SSP2').append($('<hr><br>'));
            }
        });

    });

    $("#makeAppointmentBtn").click(function () {
        var dateTime = document.querySelector('input[type="datetime-local"]');
        console.log('about to hit get request fro twillio', dateTime.value);
        var textBody = "Your Reservation with ADAM-FrontDesk is on "+dateTime.value;
        var number = '+14018718377'
        $.get('/send/twilio/' + number, textBody, function (data) {
            console.log("twilio" + data + textBody);
            alert("Confirmation Text Sent");
            location.reload();
        });


    });

</script>